.main {
  min-height: 100vh;
  background-image: url("../../Assets/home/background-home-desktop.jpg");
  background-size: cover;
  padding-bottom: 48px;

  article {
    .explore-button {
      h4 {
        position: relative;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &:after {
          content: "";
          height: inherit;
          width: inherit;
          background-color: white;
          opacity: 0.5;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          opacity: 0;
          transition: 300ms ease;
        }
        &:hover {
          &:after {
            opacity: 0.2;
            transform: scale(1.5);
          }
        }
      }
    }
  }

  // --------------//
  // ---Desktop--- //
  // --------------//
  @media (max-width: 1366px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 769px) {
    padding-top: 387px;

    article {
      max-width: 1110px;
      margin: auto;

      display: grid;
      grid-template-columns: auto auto;

      .copy-content {
        max-width: 450px;

        h5 {
          margin-bottom: 24px;
        }

        h1 {
          margin-bottom: 24px;
        }

        p {
          line-height: 32px;
        }
      }

      .explore-button {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        h4 {
          display: flex;
          align-items: baseline;
          background-color: white;
          height: 274px;
          width: 274px;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    padding-top: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    article {
      min-width: 1300px;
    }
  }

  // -------------//
  // ---Tablet--- //
  // -------------//
  @media (max-width: 768px) {
    background-image: url("../../Assets/home/background-home-tablet.jpg");
    padding-top: 202px;

    .copy-content {
      width: 450px;
      margin: auto;
      text-align: center;
      margin-bottom: 156px;

      h5 {
        margin-bottom: 24px;
      }

      h1 {
        margin-bottom: 24px;
      }

      p {
        line-height: 25px;
      }
    }

    .explore-button {
      h4 {
        background-color: white;
        height: 242px;
        width: 242px;
        border-radius: 242px;
        text-align: center;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 640px) {
    .copy-content {
      width: 100%;
      padding: 0 40px 0 40px;
    }
  }

  // -------------//
  // ---Mobile--- //
  // -------------//
  @media (max-width: 425px) {
    background-image: url("../../Assets/home/background-home-mobile.jpg");

    .copy-content {
      padding: 0 24px 0 24px;
      text-align: center;
      margin-bottom: 81px;
      width: 100%;

      h5 {
        margin-bottom: 16px;
      }

      h1 {
        margin-bottom: 16px;
      }

      p {
        line-height: 25px;
      }
    }

    .explore-button {
      h4 {
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 150px;
        text-align: center;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 375px) {
    padding-top: 112px;
  }
}
