@import "../../Styles/variables";

.main {
  background-size: cover;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 80px;
  overflow-x: hidden;

  h3 {
    font-size: 28px;
  }
  .header {
    margin-bottom: 64px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    .headerlabel {
      padding-left: 160px;
      text-align: left;

      span {
        font-weight: bold;
        margin-right: 18px;
        opacity: 0.4;
      }
    }
  }

  .planet {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1366px) {
    padding-bottom: 0;
    .header {
      .headerlabel {
        text-align: left;
        padding-left: 55px;
      }
    }
  }

  @media (max-width: 1024px) {
    .header {
      .headerlabel {
        text-align: left;
        padding-left: 39px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 136px;

    .header {
      margin-bottom: 60px;
      .headerlabel {
        text-align: left;
        padding-left: 39px;
      }
    }
  }

  @media (max-width: 640px) {
    .header {
      .headerlabel {
        text-align: center;
        padding-left: 0;
      }
    }
  }

  @media (max-width: 425px) {
    padding-top: 88px;

    .header {
      margin-bottom: 32px;
    }
  }
}
